[submodule "OpenGL framework/src/vendor/ImGuizmo"]
	path = OpenGL framework/src/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "OpenGL framework/src/vendor/imgui"]
	path = OpenGL framework/src/vendor/imgui
	url = https://github.com/ocornut/imgui
